.league-home-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.main-box-top-accent {
    display: block;
    position: relative;
    top: -12px;
    left: -12px;
    height: 6px;
    width: 900px;
    background-color: #cf4119;
    padding: none;
    border-radius: 10px 10px 0 0;
}

.league-home-image-box {
    box-sizing: border-box;
    display: inline-block;
    flex-direction: column;
    width: 900px;
    height: 420px;
    padding: 12px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 75px;
}

.league-home-image {
    border-radius: 10px;
    min-width: 876px;
    max-height: 396px;
    object-fit: cover;
}

.league-home-main-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 220px;
    padding: 12px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.league-home-inner-box-main {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 50%;
}

.league-home-inner-box-1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 14px;
}

.league-home-inner-box-1 > span {
    width: 100%;
    color: #222222;
    font-size: 24px;
    padding: 0px 0px 3px;
    margin-bottom: 5px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.league-navigation-links {
    display: flex;
    flex-direction: row;
}

.league-link-1 {
    padding-right: 10px;
    border-right: 1px solid rgb(222, 222, 222);
}

.league-link-2,
.league-link-3 {
    padding: 0px 10px;
    border-left: 1px solid rgb(222, 222, 222);
    border-right: 1px solid rgb(222, 222, 222);
}

.league-link-4 {
    padding-left: 10px;
    border-left: 1px solid rgb(222, 222, 222);
}

.league-home-inner-box-2 {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 4px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #6C6D6F;
}

.league-home-inner-box-2 > div > span {
    display: inline-flex;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: normal;
}

.league-home-inner-box-schedule {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 95px;
    background-color: #F4F4F4;
    color: #D0021B;
    z-index: 1;
    position: relative;
}

.league-home-manager-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: fit-content;
    min-height: 150px;
    padding: 12px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.manager-note-header {
    box-sizing: border-box;
    height: 32px;
    line-height: 1.15;
    border-bottom: 1px dotted #dcdddf;
}

.manager-note-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    line-height: 1.15;
}

.manager-note-title {
    font-size: 24px;
    padding: 4px 5px 8px;
    color: #151617;
    font-weight: bold;
}

.manager-note-text {
    color: #6C6D6F;
    font-size: 12px;
    padding: 0px 5px;
    line-height: 17px;
}
