.edit-scoring-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: fit-content;
}

.edit-scoring-header {
    text-align: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(220, 221, 223);
    font-size: 24px;
    font-weight: 500;
}

.scoring-row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #f1f2f3;
}

.scoring-label {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 10px 0px;
    margin-left: 20px;
    border-right: 1px solid rgb(220, 221, 223);
}

.edit-scoring-input {
    display: flex;
    justify-content: flex-end;
    height: 25px;
    padding: 10px 0px;
    width: 50%;
    margin-right: 20px;
}

.edit-scoring-input > input {
    width: 45px;
    text-align: right;
}

.edit-scoring-btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.edit-scoring-pts {
    border-bottom: 1px solid rgb(220, 221, 223);
}
