.public-title-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 200px;
    text-align: center;
}

.public-league-title {
    font-size: 26px;
    color: #cf4115;
    font-weight: 500;
    margin-top: 50px;
}

.public-leagues-container {
    margin-top: 100px;
}
